.cms-team-wrapper{
	overflow: hidden;
}
.team-img{
	width: 100%;
	@include transition(all 0.25s);
	.img-hover-bl:hover &{
		@include css3-prefix('filter', 'grayscale(1)');
	}
}
.team-social{
	position: absolute;
    right: calc(100% + 15px);
    bottom: 0%;
    width: 100%;
    background-color: #efefef;
    .cms-team-wrapper:hover &{
    	right: 0;
    }
}