/* Custom Mixin */
$color_dark: #282828;
$color_dark2: #222;
$meta_color: $primary_color;
$meta_color_hover: $secondary_color;
.bg-accent{
	background-color:$accent_color; 
}
.bg-primary{
	background-color: $primary_color;
}
.bg-secondary{
	background-color: $secondary_color;
}
.bg-thirdary{
	background-color: $thirdary_color;
}
.bg-gray {
    background-color: #f5f6f6;
}
.bg-black{
	background-color: $black;
}
.bg-white{
	background-color: $white;
}

.bg-hover-secondary:hover{
	background-color: $secondary_color;
}

.text-accent{
	color: $accent_color!important;
}


// Link Colors
@each $name, $color in $theme_colors {
	.link-#{$name} {
		color: $color;
		a{
			color: $color;
		}
	}
	.link-hover-#{$name}{
		&:hover{
			color: $color;
		}
		a:hover{
			color: $color;
		}
	}
	.text-#{$name}{
		color: $color;
	}
	.text-hover-#{$name}:hover{
		color: $color!important;
	}
	a.text-hover-#{$name}:hover{
		color: $color!important;
	}
}

