.sidebar-widget{
	.widget{
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid #d3d3d3;
		&:last-child{
			margin-bottom: 0;
		}
		.widget-title{
			margin-bottom: 15px;
		}
	}
}

/* Sticky Sidebar */
.sidebar-sticky, .sidebar-sticky > .vc_column-inner {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
}
.admin-bar .sidebar-sticky, .admin-bar .sidebar-sticky > .vc_column-inner  {
  top: 60px;
}
.header-sticky .sidebar-sticky, .header-sticky .sidebar-sticky > .vc_column-inner {
  top: 110px;
}
.admin-bar.header-sticky .sidebar-sticky, .admin-bar.header-sticky .sidebar-sticky > .vc_column-inner {
  top: 140px;
}

@media (max-width: $screen-md-max){
	.sidebar-widget{
		margin-top: 50px;
	}
}

// Bottom sidebar 
.cms-bottom-sidebar{
	width: 100%;
}
.cms-bottom-sidebar-inner{
	display: flex;
	flex-wrap: wrap;
	margin: -15px;
	.widget-title{
		margin: 0 0 20px;
	}
	> .widget{
		flex: 0 0 100%;
		max-width: 100%;
		padding: 15px;
		@media (min-width: $screen-md-min){
			flex: 0 0 50%;
			max-width: 50%;
		}
		@media (min-width: $screen-lg-min){
			flex: 0 0 33.3333%;
			max-width: 33.3333%;
		}
		@media (min-width: $screen-xl-min){
			flex: 0 0 25%;
			max-width: 25%;
		}
	}
}
