.sidebar-widget{
	.widget{
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid #d3d3d3;
		&:last-child{
			margin-bottom: 0;
		}
		.widget-title{
			margin-bottom: 15px;
		}
	}
}

/* Sticky Sidebar */
.sidebar-sticky, .sidebar-sticky > .vc_column-inner {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
}
.admin-bar .sidebar-sticky, .admin-bar .sidebar-sticky > .vc_column-inner  {
  top: 60px;
}
.header-sticky .sidebar-sticky, .header-sticky .sidebar-sticky > .vc_column-inner {
  top: 110px;
}
.admin-bar.header-sticky .sidebar-sticky, .admin-bar.header-sticky .sidebar-sticky > .vc_column-inner {
  top: 140px;
}