// CMS Grid Masonry
//--------------------------------------------------
.item-featured img {
  width: 100%;
  @include transition(all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) 0s);
}
.cms-grid {
  .grid-sizer {
    visibility: hidden;
  }
  .cms-grid-inner, .grid-item-inner {
    position: relative;
  }
  .grid-item.cms-animated .grid-item-inner {
    animation: 0.65s ease 0s normal forwards 1 running moveUp;
    -webkit-animation: 0.65s ease 0s normal forwards 1 running moveUp;
    @include transform(translateY(200px));
  }
  .cms-load-more {
    margin-top: 35px;
  }
  .cms-grid-pagination {
    margin-top: 20px;
  }
  .item-featured a {
    display: block;
  }
}
.grid-filter-wrap {
  margin-bottom: 23px;
  span {
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin: 10px 13px;
    @include transition(all 300ms linear 0ms);
    text-transform: capitalize;
    color: #333333;
    @include font-family-heading($heading_default_font);
    position: relative;
    &:before {
      content: '';
      width: 0;
      height: 2px;
      position: absolute;
      background-color: $primary_color;
      left: 0;
      right: 0;
      margin: auto;
      bottom: -1px;
      opacity: 0;
      @include transition(all 300ms linear 0ms);
    }
    &.active, &:hover {
      color: $primary_color;
      &:before {
        opacity: 1;
        width: 100%;
      }
    }
  }
}

.select-filter-wrap.nice-select, .select-order-wrap.nice-select {
  min-width: 160px;
  height: 40px;
  line-height: 40px;
  padding: 0 40px 0 21px;
  display: inline-block;
  width: inherit;
  border: none;
  @include border-radius(4px);
  @include box-shadow(0 2px 4px rgba(0, 0, 0, 0.24));
  font-size: 15px;
  &:after {
    content: "\f2f9";
    right: 15px;
    font-size: 15px;
  }
}
.select-order-wrap {
  margin-left: 15px;
}

.item-order {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

// OWL Carousel
//--------------------------------------------------
.owl-nav {
    text-align: center;
    .owl-prev, .owl-next {
        color: #a2a2a2;
        display: inline-block;
        font-size: 28px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        width: 40px;
        margin-top: 25px;
        @include transition(all 300ms linear 0ms);
        &:hover {
            color: #000;
        }
    }
}
.owl-dots {
  text-align: center;
  margin-top: 40px;
  line-height: 1;
  height: 12px;
  .owl-dot {
    @include border-radius(12px);
    background-color: #8e8e8e;
    display: inline-block;
    height: 12px;
    margin: 0 5px;
    width: 12px;
    vertical-align: top;
    @include transition(all 300ms linear 0ms);
    position: relative;
    &.active {
      background-color: transparent;
      @include box-shadow(0 0 0 4px inset #1a1a1a);
    }
  }
}
.owl-dot-light, .bullet-light {
  .owl-dots .owl-dot {
    background-color: rgba(#fff, 0.5);
    &.active {
      background-color: transparent;
      @include box-shadow(0 0 0 4px inset #fff);
    }
  }
}

/* Page Loading */
#cms-loadding {
  background: #fff;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 999999;
  top: 0;
  left: 0;
  @include transition(all 300ms linear 0ms);
  .loading-spinner {
    margin: -20px auto 0 auto;
    width: 40px;
    height: 40px;
    top: 50%;
    position: relative;
    text-align: center;
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
  }

  .loading-dot1, .loading-dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: $primary_color;
    border-radius: 100%;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }

  .loading-dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
}

// Tabs
//--------------------------------------------------
.nav-tabs.cms-tabs {
  border: none;
  margin-bottom: 10px;
  .nav-item {
    margin: 0 0 10px 26px;
    &:first-child {
      margin-left: 0;
    }
    a {
      margin: 0;
      border: none;
      padding: 0;
      font-size: 13px;
      color: rgba($color_dark, 0.33);
      &.active {
        color: $color_dark;
      }
    }
  }
}
.entry-footer .entry-edit-link {
  display: none;
}
.cms-modal {
  @include transition(all 360ms linear 0ms);
  background-color: rgba(#1a1a1a, 0.95);
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include transform(scale(0.5));
  opacity: 0;
  visibility: hidden;
  .cms-modal-content {
    padding: 40px 0;
    max-width: 470px;
    margin: auto;
    position: absolute;
    top: 50%;
    @include transform(translate(0, -50%));
    left: 0;
    right: 0;
  }
  &.open {
    @include transform(scale(1));
    opacity: 1;
    visibility: visible;
  }
}
.cms-modal-close{
  position: absolute;
  top: 30px;
  right: 30px;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}
.cms-modal-search {
  .search-form-popup {
    position: relative;
  }
  .search-field {
    background-color: transparent;
    border: none;
    height: 60px;
    padding-left: 0;
    padding-right: 60px;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
  }
  .search-submit {
    font-size: 28px;
    color: $primary_color;
    background-color: transparent;
    border: none;
    padding: 0;
    height: 60px;
    width: 60px;
    line-height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
  }
}
.cms-hidden-sidebar {
  width: 370px;
  padding: 95px 50px 50px 50px;
  background-color: #1a1a1a;
  color: #fff;
  position: fixed;
  top: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  @include transition(all 360ms linear 0ms);
  &.open {
    z-index: 999;
    opacity: 1;
    visibility: visible;
  }
  .cms-hidden-close {
    position: absolute;
    top: 35px;
    right: 35px;
    font-size: 14px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    @include transition(all 360ms linear 0ms);
    &:hover {
      color: $primary_color;
    }
  }
  .widget {
    margin-bottom: 42px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .widget-title {
    color: #fff;
    &:after {
      background-color: #fff;
    }
  }
  .widget_cms_recent_posts {
    .post-item {
      border-color: #535353;
      .entry-title {
        color: #fff;
      }
    }
  }
  .tagcloud a, .entry-tags a {
    background-color: transparent;
    border-color: #373737;
    &:hover {
      background-color: $primary_color;
      border-color: $primary_color;
    }
  }
}
.admin-bar .cms-hidden-sidebar {
  top: 52px;
}
body.error404 {
  .site-content {
    padding: 0 !important;
  }
  .error-404 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 110px 0px;
    text-align: center;
    background-image: url(../images/bg-404.jpg);
    height: 100vh;
    @media #{$max-sm} {
      height: auto;
    }
    &:before {
      background-color: rgba(#1b1a1a, 0.85);
    }
    header h1 {
      font-size: 250px;
      line-height: 1;
      color: #fff;
      @media #{$max-lg} {
        font-size: 200px;
      }
      @media #{$max-sm} {
        font-size: 120px;
      }
    }
    .page-content {
      font-size: 14px;
      line-height: 24px;
      color: #fff;
      @include font-family-heading($heading_default_font);
      margin-bottom: 34px;
    }
    .btn-outline-white {
      @include border-radius(51px);
    }
  }
  .error-404-inner {
    position: relative;
    z-index: 99;
    max-width: 680px;
    margin: auto;
    padding: 0 15px;
  }
}

.vc_row {
  &.bg-image-ps-top {
    background-position: top !important;
  }
  &.bg-image-ps-center {
    background-position: center !important;
  }
  &.bg-image-ps-bottom {
    background-position: bottom center !important;
  }
  &.bg-image-ps-bottom-left {
    background-position: bottom left !important;
  }
  &.bg-image-ps-bottom-right {
    background-position: bottom right !important;
  }
}