.cms-transition{
    @include transition();
}

.relative{
    position: relative;
}

// Socials icon list 
.social-icons{
}
.social-square{
    a{
        width: 32px;
        height: 32px;
        line-height: 32px;
        padding: 0;
        font-size: 16px;
        display: inline-block;
        text-align: center;
    }
}

// Separator
.cms-separator-1{
    width: 50px;
    height: 3px;
    display: block;
}
// Block shadow 
.cms-block-shadow{
    @include css3-prefix('box-shadow', '0 10px 30px 0 rgba(50, 50, 50, .16)');
    @include transition(all 0.5s linear);
}

// icon size
.icon-sm{
    i{
        font-size: 30px;
        line-height: 30px;
    }
}

// Heading with text as background
.cms-bg-text{
    position: relative;
    &:before{
        position: absolute;
        content: attr(data-title);
        color: rgba(210, 210, 210, 0.3);
        font-weight: 900;
        font-size: 90px;
        text-transform: uppercase;
        top: 50%;
        left: 50%;
        width: 100%;
        @include transform(translate(-50%,-50%));
    }
    span{
        position: relative;
        z-index: 1;
    }
}

// Shadow 
.cms-box-shadow{
    @include box-shadow('0 0px 0px 0 rgba(50, 50, 50, .16)');
}

// hover text
.hover-text-white:hover{
    color: $white;
    .cms-heading,
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6,{
        color: $white;
    }
}

// background moving size
.cms-bg-moving-h{
    background-size: auto 100%;
    background-repeat: repeat-x;
}
.cms-bg-moving-v{
    background-size: 100% auto;
    background-repeat: repeat-y;
}

// column position
.cms-pos-rb{
    position: absolute!important;
    right: 40px;
    bottom: 0;
    @media (max-width: $screen-md-max){
        right: 0;
    }
    [dir="rtl"] &{
        right: auto;
        left: 40px;
        @media (max-width: $screen-md-max){
            right: auto;
            left: 0;
        }
        img {
            @include transform(scaleX(-1));
        }
    }
}
