.comments-area{
	padding: 30px;
	background-color: $color_gray;
}
.comment-list-wrap{
	.comments-title{
		text-transform: uppercase;
    	font-size: 20px;
    	line-height: 40px;
    	margin-bottom: 24px;
	}
}

.comment-list{
	list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    li{
    	position: relative;
    	padding: 0;
    }
    .comment-body{
    	position: relative;
	    padding: 20px 30px;
	    margin-bottom: 40px;
	    position: relative;
	    border: 1px solid #f2f2f2;
	    border-left: 5px solid #eaeaea;
	    background-color: $white;
    }
    .comment-content{
    	position: unset;
    }
    .comment-meta{
    	color: #000;
	    margin-bottom: 15px;
	    font-size: 12px;
	    text-transform: uppercase;
	    line-height: normal;
	    font-weight: 600;
    }
    .comment-title{
	    font-size: 14px;
	    text-transform: uppercase;
	    font-weight: 700;
	    font-style: normal;
	    padding: 0;
	    margin: 0 0 10px;
    }
    p{
    	line-height: 18px;
    	margin: 0 0 5px;
    }
    .comment-reply-link{
    	position: absolute;
		top: 50px;
		right: 30px;
		margin-top: -5px;
		color: #ff5e14;
		font-weight: 600;
    }
    // Children
    .children{
    	list-style: none;
    	margin-left: 80px;
    }
}

.comment-respond{
	padding: 30px;
	background-color: $white;
	.comment-reply-title{
		font-size: 16px;
    	font-weight: 600;
    	text-transform: uppercase;
    	line-height: 30px;
    	margin: 0 0 20px;
	}
}

.comment-form-field{
	position: relative;
	margin-bottom: 30px;
	&:before {
	    display: inline-block;
	    position: absolute;
	    left: 15px;
	    top: 0px;
	    font-size: 16px;
	    color: #8f8f8f;
	    width: 40px;
	    height: 40px;
	    line-height: 40px;
	    border: none;
	    text-align: center;
	}
	&.comment-form-author:before{
		@include font-awesome("\f007");
	}
	&.comment-form-email:before{
		@include font-awesome("\f0e0");
	}
	&.comment-form-website:before{
		@include font-awesome("\f0ac");
	}
	&.comment-form-comment:before{
		@include font-awesome("\f040");
	}
	input,
	textarea{
		width: 100%;
		padding: 10px 10px 10px 40px;
	    border: none;
	    background-color: #f3f3f3;
	    vertical-align: top;
	    font-weight: 600;
		font-size: 14px;
		font-family: $BodyFont;
	}
	input{
		height: 40px;
	}
}
.comment-form-cookies-consent {
	display: none;
}