.comments-area {
	.comment-list {
		list-style: none;
		margin: 0;
		> .comment {
			.comment-body {
				border-top: 1px dashed #dbdbdb;
				margin-top: 24px;
				padding-top: 30px;
			}
			&:first-child > .comment-body {
				border-top: none;
				padding-top: 0;
				margin-top: 0;
			}
			> .children {
				list-style: none;
				margin: 0;
				padding-left: 90px;
				@media #{$max-sm} {
					padding-left: 0;
				}
			}
		}
		> .pingback + .pingback {
			border-top: 1px solid #d9d9d9;
			margin-top: 24px;
			padding-top: 30px;
		}
		.children {
			list-style: none;
		}
	}
	.comment-inner {
		display: flex;
		flex-wrap: nowrap;
		img.avatar {
			max-width: 70px;
			min-width: 70px;
			max-height: 70px;
			margin-right: 20px;
			@include border-radius(2px);
		}
		.comment-content {
			padding-top: 6px;
			.comment-title {
				font-size: 14px;
				font-weight: 700;
				margin-bottom: 0px;
			}
			.comment-meta {
				font-size: 13px;
				color: #9b9b9b;
				margin-bottom: 7px;
			}
			.comment-text {
				margin-bottom: 7px;
				font-size: 14px;
				line-height: 24px;
				color: #9b9b9b;
				p:last-child {
					margin-bottom: 0;
				}
			}
			.comment-reply {
				font-size: 13px;
				font-weight: 700;
				color: $primary_color;
			}
		}
	}
	.comment-list-wrap {
		margin-bottom: 40px;
	}
	#commentform {
		input, textarea {
			margin-bottom: 30px;
		}
		.submit {
			width: 100%;
			margin-bottom: 0;
			&:hover {
				background-color: #222;
				border-color: #222;
				color: #fff;
			}
		}
		.form-submit {
			margin-bottom: 0;
		}
	}
	.comment-content a {
	    word-wrap: break-word;
	}
	.bypostauthor {
	    display: block;
	}
	.logged-in-as {
		color: #9b9b9b;
		a {
			color: #9b9b9b;
			&:hover {
				color: $primary_color;
			}
		}
	}
}
.comment-form-cookies-consent {
	display: none;
}