.elementor-page .site-content{
  padding-top: 0;
  padding-bottom: 0;
}
.elementor-editor-wp-page .site-content{
  z-index: 1000;
}

.elementor-section-wrap .elementor-section .elementor-container{
  display: block;
}

@if $enable-grid-classes {
  .elementor .elementor-section.elementor-section-stretched.elementor-section-boxed>.elementor-container {
    @include make-container();
    @include make-container-max-widths();
  }
}

.elementor-container .elementor-row{
  width: unset;
  flex-wrap: wrap;
}
.elementor-section >.elementor-column-gap-default{
  > .elementor-row{
    margin: -15px;
    //margin-right: -15px;
    >.elementor-column{
      padding: 15px;
      //padding-right: 15px;
      //margin-top: -15px;
      //margin-bottom: -15px;
      > .elementor-element-populated{
        padding: 0;
      }
    }
  }
}

.elementor-inner-section + .elementor-widget{
  margin-top: 30px;
}