body {
    img.mfp-img {
        padding: 0 !important;
    }
    .mfp-fade.mfp-bg.mfp-ready {
        opacity: 0.9;
    }
}
body .mfp-image-holder .mfp-close, body .mfp-iframe-holder .mfp-close {
    line-height: 40px;
    padding: 0;
    right: 0;
    text-align: center;
    top: -44px;
    width: 40px;
    @include border-radius(2px 2px 0 0);
}
body .mfp-bottom-bar {
    margin-top: 0;
}
.mfp-wrap .mfp-container .mfp-arrow {
    background-color: $primary_color;
    width: 60px;
    height: 120px;
    opacity: 1;
    &:before, &:after {
        border: none;
    }
    &:before {
        font-family: "Material-Design-Iconic-Font";
        font-size: 20px;
        color: #fff;
        margin: 0;
        padding: 0;
        line-height: normal;
        position: absolute;
        top: 50%;
        display: block;
        @include transform(translate(-50%, -50%));
        opacity: 1;
        left: 50%;
        width: auto;
        height: auto;
    }
    &.mfp-arrow-left:before {
        content: "\f2ea";
    }
    &.mfp-arrow-right:before {
        content: "\f2ee";
    }
}

@media #{$min-xl} {
    .mfp-wrap .mfp-container {
        padding: 0 120px;
    }
}
// Cms Button
//--------------------------------------------------
.cms-button-layout1{
    &.elementor-button-primary{
        .btn{
            background-color: $primary_color;
        }
    }
}
.cms-button-layout2{
    &.elementor-button-primary{
        .btn{
            border-color: $primary_color;
        }
    }
}
.elementor-align-justify{
    .btn{
        display: block;
    }
}

.cms-button .cms-align-icon-right {
    float: right;
    margin-left: 5px;
}
.cms-button .cms-align-icon-left {
    float: left;
    margin-right: 5px;
}

.cms-button span {
    text-decoration: inherit;
}
// button size
.button-size-xs {
    font-size: 13px;
    padding: 10px 20px;
}
.button-size-sm {
    font-size: 15px;
    padding: 12px 24px;
}
.button-size-md {
    font-size: 16px;
    padding: 15px 30px;
}
.button-size-lg {
    font-size: 18px;
    padding: 20px 40px;
}
.button-size-xl {
    font-size: 20px;
    padding: 25px 50px;
}
// #End Cms Button -------------------------------

// Cms Tabs
//--------------------------------------------------
.cms-tabs{
    &.cms-tabs--layout1{
        .cms-tabs-title{
            overflow: hidden;
            border: 1px solid #ccc;
            border-bottom: none;
            background-color: #f1f1f1;
            .cms-tab-title{
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
                font-size: 17px;
                &:hover{
                    background-color: #ddd;
                }
                &.active{
                    background-color: #ccc;
                }
            }
        }
        .cms-tabs-content{
            .cms-tab-content{
                display: none;
                padding: 6px 12px;
                border: 1px solid #ccc;
            }
        }
    }
}

.cms-tabs-view-vertical{
    .cms-tabs{
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        .cms-tabs-title{
            width: 25%;
            border-right: none;
            display: -ms-flex;
            display: -webkit-flex;
            display: flex;
            flex-wrap: wrap;
            .cms-tab-title{
                width: 100%;
                border-bottom: 1px solid #ccc;
            }
        }
        .cms-tabs-content{
            width: 20%;
            -webkit-flex-grow: 1;
            flex-grow: 1;
            .cms-tab-content{
                height: 100%;
            }
        }
    }
}
// #End Cms Tabs -------------------------------

// Cms Counter
//--------------------------------------------------
.cms-counter-wrapper{
    text-align: center;
}

.cms-counter-number-wrapper{
    font-size: 60px;
    font-weight: bold;
    color: #000;
}
.cms-counter-icon{
    font-size: 60px;
}
// #End Cms Counter -------------------------------

// Cms Progress Bar
//--------------------------------------------------
.cms-progress-wrapper{
    &:last-child{
        margin-bottom: 0!important;
    }
}
// #End Cms Progress Bar -------------------------------

// Cms Testimonials
//--------------------------------------------------
.cms-testimonials-layout1{
    text-align: center;
    .cms-testimonials-img{
        img {
            width: 60px;
            height: 60px!important;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            -o-object-fit: cover;
            object-fit: cover;
            max-width: none;
        }
    }
    .cms-testimonial-author{
        font-size: 15px;
    }
}

.cms-testimonials-layout2{
    .cms-testimonials-wrapper{
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;

        img {
            width: 60px;
            height: 60px!important;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            -o-object-fit: cover;
            object-fit: cover;
            max-width: none;
        }

        .cms-testimonials-img{
            margin-right: 15px;
            display: -webkit-inline-box;
            display: -webkit-inline-flex;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 auto;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        }

        .cms-testimonials-content{
            -webkit-box-flex: 1;
            -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
        }

        .cms-testimonial-author{
            font-size: 15px;
        }
    }
}
// #End Cms Testimonials -------------------------------

// Cms Toggle
//--------------------------------------------------
.cms-toggle-wrapper {
    .cms-toggle-item{
        border-bottom-style: solid;
        border-bottom-width: 0;
    }
    .cms-toggle-title{
        padding: 15px;
        color: #444;
        cursor: pointer;
        font-weight: bold;
        border: none;
        transition: 0.4s;
        .cms-toggle-title-icon{
            float: right;
            margin-left: 5px;
            &.left{
                float: left;
                margin-right: 5px;
            }
            .cms-toggle-title-icon-close{
                display: block;
            }
            .cms-toggle-title-icon-open{
                display: none;
            }
        }
        &.active{
            .cms-toggle-title-icon{
                .cms-toggle-title-icon-close{
                    display: none;
                }
                .cms-toggle-title-icon-open{
                    display: block;
                }
            }
        }
    }
    .cms-toggle-content {
        display: none;
        padding: 15px;
    }
}
// #End Cms Toggle -------------------------------

// Cms Icon Box
//--------------------------------------------------
/* Layout 1*/
.cms-icon-box-layout1{

}

/* Layout 2*/
.cms-icon-box-layout2{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    .cms-icon-box-icon{
        margin-right: 15px;
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
    .cms-icon-box-content {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
}

/* Layout 3*/
.cms-icon-box-layout3{
    .cms-icon-box-title-icon{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .cms-icon-box-icon{
        margin-right: 15px;
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
    .cms-icon-box-title {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
}
// #End Cms Icon Box -------------------------------

// Cms Alert
//--------------------------------------------------
.cms-alert-info{
    .cms-alert{
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bcdff1;
    }
}
.cms-alert-success{
    .cms-alert{
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #cae6be;
    }
}
.cms-alert-warning{
    .cms-alert{
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #f9f0c3;
    }
}
.cms-alert-danger{
    .cms-alert{
        color: #a94442;
        background-color: #f2dede;
        border-color: #e8c4c4;
    }
}
.cms-alert{
    padding: 15px;
    border-left: 5px solid transparent;
    position: relative;
    text-align: left;
    .cms-alert-title{
        font-weight: 600;
    }
    .cms-alert-description{

    }
    .cms-alert-dismiss{
        position: absolute;
        right: 10px;
        top: 10px;
        padding: 3px;
        font-size: 20px;
        line-height: 1;
        background: transparent;
        color: inherit;
        border: none;
        cursor: pointer;
        font-weight: 600;
    }
}
// #End Cms Icon Box -------------------------------

// Cms Blockquote
//--------------------------------------------------
blockquote {
    border-left: 6px solid $color_dark;
    font-size: 20px;
    line-height: 28px;
    font-style: italic;
    line-height: 1.4;
    @include font-family-heading($heading_default_font);
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0 0 32px;
    cite {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        color: $color_dark;
        display: block;
        margin-top: 10px;
    }
}
.cms-blockquotes-wrapper{
    blockquote {
        margin: 0;
    }
}
.blockquotes-content{
    display: block;
}

/* Layout1 */
.cms-blockquotes-layout1 {

}

/* Layout2 */
.cms-blockquotes-layout2 {
    blockquote {
        border: none;
        position: relative;
        padding-right: 20px;
        padding-left: 36px;
        &:before, &:after {
            position: absolute;
            font-family: FontAwesome;
            font-style: normal;
            font-size: 16px;
            color: $color_dark;
        }
        &:before {
            content:"\f10d";
            top: 0;
            left: 0;
        }
        &:after {
            content:"\f10e";
            right: 0;
            bottom: 0;
        }
    }
}

/* Layout3 */
.cms-blockquotes-layout3 {
    blockquote {
        background-color: #f4f4f4;
        color: $primary_color;
        border: none;
        @include border-radius(4px);
        padding-left: 36px;
        padding-right: 30px;
    }
}
// #End Cms Blockquote -------------------------------

// Cms Alert
//--------------------------------------------------
/* Layout 1*/
.cms-image-box-layout1{

}
/* Layout 2*/
.cms-image-box-layout2{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    .cms-image-box-img{
        margin-right: 15px;
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
    .cms-image-box-content {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
}
// #End Cms Image Box -------------------------------

// Blog Grid
//--------------------------------------------------
.cms-grid-blog-layout1 {
    .posts-pagination .posts-page-links {
        justify-content: center;
    }
    .post-image {
        display: flex;
        flex-wrap: wrap;
        a {
            position: relative;
            overflow: hidden;
            @include border-radius(2px);
            img {
                @include transition(all 500ms linear 0ms);
            }
        }
    }
    .entry-meta {
        margin-bottom: 7px;
    }
    .entry-title {
        font-size: 20px;
        font-weight: 500;
    }
    .entry-body {
        padding-left: 40px;
        padding-right: 40px;
        @media #{$max-md} {
            padding-left: 30px;
            padding-right: 30px;
        }
        @media #{$max-sm} {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .grid-item-inner {
        margin-bottom: 11px;
        &:hover {
            .post-image img {
                @include transform(scale(1.12));
            }
        }
    }
}

// Heading
//--------------------------------------------------
.cms-heading-wrapper {

}

// Client
//--------------------------------------------------
.cms-clients-list-wrapper {
    text-align: center;
}