.site-footer {
	.footer-widget-title{
		color: $white;
		margin-bottom: 35px;
	}
	.top-footer{
		background: #010e2a;
		padding: 50px 0px 6px 0px;
		color: #97A7C9;
		.widget{
			margin-bottom: 30px;
			&:last-child{
				margin-bottom: 0;
			}
		}
		a{
			color: #97A7C9;
			&:hover{
				color: $accent_color;
			}
		}
		.entry-meta li{
			color: #97A7C9;
		}
	}
	.bottom-footer{
		background: #01091b;
		padding: 30px 0px;
		color: #787878;
    	font-size: 13px;
    	.bottom-copyright{
    		color: #66738F;
    	}
	}
	#sbi_images{
		padding: 0!important;
		margin: -3px;
		width: unset !important;
		.sbi_photo_wrap{
			padding: 3px !important;
		}
	}
	p{
		line-height: 20px;
		font-size: 13px;
		margin-bottom: 24px;
	}
	ul{
		list-style: none;
    	margin-top: 5px;
	}
	li{
		font-size: 13px;
	}
	.widget_text{
		li{
			margin-bottom: 14px;
		}
	}
	&.footer-light{
		color: #484848;
		.top-footer{
			background: #eee;
			color: #484848;
			a,
			.entry-meta li{
				color: #484848;
			}
		}
		.bottom-footer{
			background-color: #ddd;
    		color: #474747;
    		.bottom-copyright {
			    color: #474747;
			}
		}
		.footer-widget-title{
			color: $heading_color;
		}
	}
}
.cms-footer-fixed{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}
.scroll-top {
	height: 55px;
    width: 55px;
    background: $white;
    color: $accent_color;
    border: none;
    position: fixed;
    right: 15px;
    bottom: -15px;
    font-size: 18px;
    line-height: 55px;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    text-align: center;
    z-index: 999;
    visibility: hidden;
    @include border-radius(50%);
    @include box-shadow(5px 0 5px rgba(0, 0, 0, 0.1));
    @include opacity(0);
	&:hover, &:focus, &:active {
		color: $white;
		background: $accent_color;
	}
	&.on {
		bottom: 15px;
		visibility: visible;
		@include opacity(1);
	}
	.cms-scroll-top-arrow{
		display: block;
	    width: 100%;
	    position: relative;
	    @include transform(rotate(-90deg));
	    @include animation(vibrate 2s linear 0s infinite);
	    &:before{
	    	@include font-awesome("\f197", 900);
	    }
	}
}