.site-footer {
	.footer-widget-title{
		color: $white;
		margin-bottom: 35px;
	}
	.top-footer{
		background: #010e2a;
		padding: 50px 0px 6px 0px;
		color: #97A7C9;
		.widget{
			margin-bottom: 30px;
			&:last-child{
				margin-bottom: 0;
			}
		}
		a{
			color: #97A7C9;
			&:hover{
				color: $accent_color;
			}
		}
		.entry-meta li{
			color: #97A7C9;
		}
	}
	.bottom-footer{
		background: #01091b;
		padding: 30px 0px;
		color: #787878;
    	font-size: 13px;
    	.bottom-copyright{
    		color: #66738F;
    	}
	}
	#sbi_images{
		padding: 0!important;
		margin: -3px;
		width: unset !important;
		.sbi_photo_wrap{
			padding: 3px !important;
		}
	}
	p{
		line-height: 20px;
		font-size: 13px;
		margin-bottom: 24px;
	}
	ul{
		list-style: none;
    	margin-top: 5px;
	}
	li{
		font-size: 13px;
	}
	.widget_text{
		li{
			margin-bottom: 14px;
		}
	}
}
.cms-footer-fixed{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}
.scroll-top {
	position: fixed;
	z-index: 99;
	bottom: 24px;
	right: 30px;
	height: 47px;
	width: 47px;
	line-height: 47px;
	text-align: center;
	background-color: $primary_color;
	@include border-radius(2px);
	color: #fff;
	font-size: 22px;
	opacity: 0;
	visibility: hidden;
	&:hover, &:focus, &:active {
		color: #fff;
		//background-color: darken($primary_color, 0.08);
	}
	&.on {
		bottom: 44px;
		opacity: 1;
		visibility: visible;
	}
}