// Header Main
//--------------------------------------------------
#site-header-wrap {
	position: relative;
	z-index: 999;
	.row-flex {
		align-items: center;
	}
	.site-menu-right {
		display: flex;
		align-items:center;
	}
	// header ontop
	&.header-ontop {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
	}
}
.menu-icon {
	cursor: pointer;
	display: inline-block;
	min-width: 40px;
	font-size: 16px;
	font-weight: 800;
	padding: 5px;
	text-align: center;
	position: relative;
	.cart-count{
		padding-left: 5px;
		[dir="rtl"] &{
			padding-left: 0;
			padding-right: 5px;
		}
	}
	.widget_shopping_cart{
		background-color: #fff;
	    padding: 2px;
	    border: 3px solid #eaeaea;
	    width: 240px;
	    visibility: hidden;
	    @include opacity(0);
	    @include transition();
	    z-index: -999;
	    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
		position: absolute;
		top: calc(100% + 44px);
		right: 0;
		[dir="rtl"] &{
			right: auto;
			left: 0;
		}
		&.open{
			display: block;
			@include opacity(1);
			z-index: 999;
			top: calc(100% + 24px);
			visibility: visible;
		}
		&:before {
			border-bottom: 8px solid #efefef;
		    border-left: 8px solid transparent;
		    border-right: 8px solid transparent;
		    content: "";
		    height: 0;
		    position: absolute;
		    right: 15px;
		    top: -11px;
		    width: 0;
		    [dir="rtl"] &{
		    	right: auto;
		    	left: 15px;
		    }
		}
	}
}

@media #{$min-xl} {
	#site-header-wrap {
		.site-navigation {
			display: flex;
			align-items: center;
			+ .site-menu-right.has-atts{
				margin-left: 30px;
			}
		}
		#site-header {
			&.h-fixed {
				@include box-shadow(0 3px 6px rgba(0,0,0,0.05));
				.site-branding {
					.logo-light {
						opacity: 0;
					}
					.logo-dark {
						opacity: 1;
					}
				}
			}
		}
	}
}

@media (max-width: 1199px) {
	#site-header-wrap {
		position: relative;
		@include box-shadow(0 0px 5px rgba(0, 0, 0, 0.15));
		background-color: #fff;
		&.fixed-height {
			height: inherit !important;
		}
		#headroom {
			position: static !important;
		}
		.cms-header-right {
			position: unset;
		}
	}
}

// Header Sticky
//--------------------------------------------------
#site-header {
	@include transition(all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s);
	&.h-fixed {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		@include animation(0.95s ease 0s normal forwards 1 running headerSlideDown);
	}
}
.admin-bar #site-header-wrap #site-header.h-fixed {
	top: 32px;
	@media screen and (max-width: 782px) {
		top: 46px;
	}
	@media screen and (max-width: 600px) {
		top: 0;
	}
}

@import 'header_layout2';
@import 'header_layout3';