/* Sticky Sidebar */
.sidebar-sticky, .sidebar-sticky > .vc_column-inner {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
}
.admin-bar .sidebar-sticky, .admin-bar .sidebar-sticky > .vc_column-inner  {
  top: 60px;
}
.header-sticky .sidebar-sticky, .header-sticky .sidebar-sticky > .vc_column-inner {
  top: 110px;
}
.admin-bar.header-sticky .sidebar-sticky, .admin-bar.header-sticky .sidebar-sticky > .vc_column-inner {
  top: 140px;
}

.entry-content .page-links {
  clear: left;
  padding-top: 10px;
  span {
    text-align: center;
    display: inline-block;
    height: 26px;
    width: 26px;
    line-height: 26px;
    color: #fff;
    @include border-radius(26px);
    background-color: $primary_color;
    font-size: 14px;
    font-weight: 500;
    margin: 0 3px;
    @include transition(all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s);
  }
  a span {
    background-color: #e0e3e8;
    color: #000;
    &:hover {
      background-color: $primary_color;
      color: #fff;
    }
  }
  .post-page-numbers {
    margin: 0 3px;
    span {
      margin: 0;
    }
  }
}
@media #{$min-xxl} {
  body {
    &.site-layout-default:not(.woocommerce) {
      #primary.col-xl-9 {
        flex: 0 0 73%;
        max-width: 73%;
      }
      #secondary.col-xl-3 {
        flex: 0 0 27%;
        max-width: 27%;
      }
    }
    &.site-layout-full-width.woocommerce {
      #primary.col-xl-9 {
        flex: 0 0 75.2%;
        max-width: 75.2%;
      }
      #secondary.col-xl-3 {
        flex: 0 0 24.8%;
        max-width: 24.8%;
      }
    }
    &.site-layout-full-width {
      .container {
        max-width: 1920px;
      }
      .site-header {
        .site-header-top, .site-header-middle, .site-header-main {
          > .container {
            padding: 0 60px;
          }
        }
      }
      #content > .content-inner > .container {
        padding: 0 60px;
      }
      .layout-container > .container {
        padding: 0 60px;
      }
      .site-footer {
        .top-footer-logo, .top-footer, .bottom-footer {
          > .container {
            padding: 0 60px;
          }
        }
      }
      .content-row {
        margin-left: -30px;
        margin-right: -30px;
        #primary, #secondary {
          padding-left: 30px;
          padding-right: 30px;
        }
      }
    }
  }
}
@media #{$max-lg} {
  body .container {
    max-width: 100%;
  }
}

@media #{$max-md} {
  #primary + #secondary {
    margin-top: 60px;
  }
}
.site-content {
  padding: 110px 0;
  position: relative;
}
.layout-container {
  padding-bottom: 55px;
}
.widget .widget-content ul:not(.entry-meta) {
  margin: 0;
  list-style: none;
}
.page-template-default .entry-footer {
	text-align: center;
	i {
		padding-right: 8px;
	}
}
.row-overlay {
  position: relative;
  &:after {
    background-color: inherit;
    bottom: 0;
    content: "";
    display: block !important;
    height: 100% !important;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    visibility: visible !important;
  }
  &.dotted-overlay:after {
    background-image: url(../images/dot-overlay.png);
    background-repeat: repeat;
  }
}
@media #{$min-xxl} {
  .site-layout-boxed {
    .site {
      width: 1310px;
      margin: auto;
      @include box-shadow(0 0 40px rgba(0,0,0,0.66));
      overflow: visible;
      .site-content {
        overflow: hidden;
      }
    }
    #headroom.headroom--pinned:not(.headroom--top), #headroom.headroom--unpinned:not(.headroom--top) {
      max-width: 1310px;
      margin: auto;
    }
  }
}
@media #{$mm-xl} {
  .site-layout-boxed {
    .site {
      width: 1200px;
      margin: auto;
      @include box-shadow(0 0 40px rgba(0,0,0,0.66));
      .container {
        max-width: 1140px;
      }
    }
    #headroom.headroom--pinned:not(.headroom--top), #headroom.headroom--unpinned:not(.headroom--top) {
      max-width: 1200px;
      margin: auto;
    }
  }
}
@media #{$min-lg} {
  .content-has-sidebar.float-right {
    order: 2;
    -webkit-order: 2;
    -ms-order: 2;
    + #secondary {
      order: 1;
      -webkit-order: 1;
      -ms-order: 1;
    }
  }
}