// Main Navigation
//--------------------------------------------------
// Menu Desktop
ul.menu {
  list-style: none;
  margin: 0;
  ul {
    list-style: none;
    margin: 0;
  }
}
@media screen and (min-width: 1170px) {
    .primary-menu-not-set {
        list-style: none;
        margin: 0;
        > li {
            margin-right: 20px;
            a {
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 700;
                line-height: 100px;
                color: var(--main-menu-color-regular);
                &:hover {
                    color: var(--main-menu-color-hover);
                }
            }
        }
    }
    .menu-toggle {
        display: none;
    }
    .main-navigation ul {
        display: block;
    }
    .primary-menu {
        list-style: none;
        margin: 0 -12px;
        padding: 0;
        li {
            position: relative;
            a {
                display: block;
                @include transition(all 300ms linear 0ms);
            }
        }
        // Level 1
        > li {
            display: inline-block;
            vertical-align: middle;
            > a {
                color: var(--main-menu-color-regular);
                font-size: 14px;
                font-weight: 600;
                padding: 25px 12px;
                text-transform: uppercase;
            }
            // has Children
            &.menu-item-has-children{
                >a:after{
                    @include font-awesome("\f078");
                    font-size: 9px;
                    margin-left: 3px;
                    margin-top: -3px;
                    vertical-align: middle;
                    opacity: 0.7;
                    display: inline-block;
                    [dir="rtl"] &{
                        margin-left: 0;
                        margin-right: 3px;
                    }
                }            
            }
            /*Hover*/
            &:hover > a{
                color: var(--main-menu-color-hover);
            }
            /* Active */
            &.current_page_item > a,
            &.current-menu-item > a,
            &.current_page_ancestor > a,
            &.current-menu-ancestor > a {
                color: var(--main-menu-color-active);
            }
            > ul.back {
                right: 0;
                left: auto;
                li > ul.back {
                    right: 100%;
                    left: auto;
                }
            }
            > .sub-menu li > ul.back {
                right: 100%;
                left: auto;
            }
        }
        // Level 2
        .sub-menu {
            list-style: none;
            margin: 0;
        }
        .sub-menu {
            position: absolute;
            border-top: 3px solid var(--accent-color);
            background: var(--dropdown-bg);
            padding: 0;
            top: 100%;
            left: 0;
            margin: 20px 0 0;
            min-width: 220px;
            z-index: 99;
            visibility: hidden;
            opacity: 0;
            @include box-shadow(0 2px 5px 0 rgba(0, 0, 0, 0.09));
            @include transition(all 0.3s ease);
            clip: rect(1px, 1px, 1px, 1px);
            li {
                padding: 0;
                font-weight: 600;
                a {
                    color: var(--dropdown-regular);
                    font-size: 13px;
                    line-height: normal;
                    padding: 14px 20px;
                    position: relative;
                    color: #000;
                    &:after{
                        content: "";
                        position: absolute;
                        left: 0px;
                        bottom: 0px;
                        width: 0%;
                        height: 2px;
                        background-color: var(--dropdown-hover);
                        @include transition(all 0.3s ease);
                        [dir="rtl"] &{
                            left: auto;
                            right: 0;
                        }
                    }
                }
                > a:hover{
                    color: var(--dropdown-hover);
                    background-color: #f6f6f6;
                    padding-left: 25px;
                    &:after{
                        width: 30px;
                        left: 25px;         
                    }
                    [dir="rtl"] &{
                        padding-right: 25px;
                        &:after{
                            left: auto;
                            right: 25px;
                        }
                    }
                }
                &.current_page_item > a,
                &.current-menu-item > a,
                &.current_page_ancestor > a,
                &.current-menu-ancestor > a {
                    color: var(--dropdown-active) ;
                    background-color: #f6f6f6;
                    &:after{
                        width: 30px;
                        left: 25px;         
                    }
                    [dir="rtl"] &{
                        padding-right: 25px;
                        &:after{
                            left: auto;
                            right: 25px;
                        }
                    }
                }
            }

            .sub-menu {
                top: 0;
                left: 100%;
            }
        }

        li:hover,
        li.focus {
            overflow: visible;
            > .sub-menu {
                visibility: visible;
                opacity: 1;
                margin-top: 0;
                clip: inherit;
            }
        }
        /* Mega Menu */
        li.megamenu {
            position: static;
            .sub-menu {
                width: 100%;
                max-width: 1170px;
                padding: 0;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                li > .container {
                    padding: 13px 25px;
                }
                .wpb_content_element {
                    margin-bottom: 0;
                }
            }
        }

    }

}

@media (max-width: 1169px) {
    .site-navigation {
        background-color: #fff;
        border-top: 1px solid rgba(0, 0, 0, 0.08);
        position: absolute;
        z-index: 1001;
        padding: 15px 20px;
        top: calc(100% + 30px);
        top: -webkit-calc(100% + 30px);
        top: -ms-calc(100% + 30px);
        top: -o-calc(100% + 30px);
        bottom: auto;
        left: 0;
        right: 0;
        visibility: hidden;
        opacity: 0;
        @include transition(all 300ms linear 0ms);
        z-index: -1;

        &.navigation-open {
            opacity: 1;
            visibility: visible;
            top: 100%;
            z-index: 999;
        }
    }

    .primary-menu {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            position: relative;
            list-style: none;
            a {
                display: block;
                padding: 10px 0;
                font-size: 14px;
                @include font-family-heading($heading_default_font);
                color: $color_dark;
                font-weight: 700;
            }

            &:hover,
            &.focus {

            }
        }
        li {
            &.current_page_item > a,
            &.current-menu-item > a,
            &.current_page_ancestor > a,
            &.current-menu-ancestor > a {
                color: $primary_color;
            }
            .link-icon {
                margin-right: 6px;
                font-size: 90%;
            }
        }

        .sub-menu {
            position: relative;
            padding-left: 20px;
            display: none;
            &.submenu-open {
                + .main-menu-toggle:before {
                    content: "\f2fc";
                }
            }
        }

        li.focus {
            > .sub-menu {
                visibility: visible;
                opacity: 1;
                max-height: none;
                overflow: visible;
            }
        }
    }
    .primary-menu-not-set {
        margin: 0;
        list-style: none;
        a {
            display: block;
            padding: 10px 0;
            color: #000;
            font-weight: 600;
            font-size: 15px;
            &:hover {
                color: $primary_color;
            }
        }
    }
    #main-menu-mobile {
        .btn-nav-mobile {
            color: var(--main-menu-color-regular);
            display: inline-block;
            font-size: 16px;
            height: 32px;
            line-height: 32px;
            text-align: center;
            vertical-align: middle;
            width: 30px;
            cursor: pointer;
            position: relative;
            @include transition(all 300ms linear 0ms);

            &:before, &:after, span {
                @include transition(all 300ms linear 0ms);
                content: "";
                background-color: var(--main-menu-color-regular);
                display: block;
                height: 3px;
                left: 0;
                margin: auto;
                position: absolute;
                right: 0;
                width: 22px;
                top: 21px;
            }
            &:before {
                top: 7px;
            }

            span {
                top: 14px;
            }

            &.opened{
                &:before {
                    top: 15px;
                    @include transform(rotate(45deg));
                }
                &:after {
                    @include transform(rotate(-45deg));
                    top: 15px;
                }
                span{
                    display: none;
                }
                &:before, &:after, span {
                    background-color: var(--main-menu-color-active);
                }
            }
        }
    }
    .main-menu-toggle {
        @include transition(all 300ms linear 0ms);
        cursor: pointer;
        display: inline-block;
        height: 19px;
        line-height: 19px;
        position: absolute;
        right: 0;
        text-align: center;
        top: 10px;
        width: 19px;
        &:before {
            content: "\f2f9";
            font-family: "Material-Design-Iconic-Font";
        }
    }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

    .site-main & {
        margin: 0 0 1.5em;
        overflow: hidden;
    }

    .nav-previous {
        float: left;
        width: 50%;
    }

    .nav-next {
        float: right;
        text-align: right;
        width: 50%;
    }
}

/* add class back when submenu out body */
ul.back {
    right: 100%;
    left: auto!important;
}