// Page Title
//--------------------------------------------------
#pagetitle {
	background-color: #222;
	padding-top: 300px;
	padding-bottom: 43px;
	text-align: center;
	background-attachment: fixed;
	position: relative;
	@media #{$max-md2} {
		background-attachment: inherit;
	}
	&:before {
		background-color: transparent;
	}
	.page-sub-title {
		color: #fff;
		font-size: 30px;
		font-weight: normal;
		line-height: 1;
		margin-bottom: 12px;
	}
	.page-title {
	  color: #fff;
	  font-size: 55px;
	  font-weight: 500;
	}
	.container {
		position: relative;
		z-index: 99;
	}
	.cms-breadcrumb {
		margin: 0;
		list-style: none;
		li {
			display: inline-block;
			color: $primary_color;
			font-size: 12px;
			a {
				color: #f9f9f9;
				&:after {
					content: '\f105';
					font-family: FontAwesome;
					margin: 0 11px;
				}
				&:hover {
					color: $primary_color;
					&:after {
						color: #fff;
					}
				}
			}
		}
	}
	.pagetitle-divider {
		bottom: -30px;
	}
	.entry-meta {
		margin-bottom: 14px;
		li {
			color: #fff;
		}
	}
	&.page-title-layout2 {
		padding-top: 406px;
		padding-bottom: 86px;
		.page-title {
			margin-bottom: 0;
		}
	}
	&.page-title-layout3 {
		padding-top: 404px;
		.page-title {
			margin-bottom: 20px;
		}
	}
	&.page-title-layout4 {
		padding: 25px 0;
		background-color: #f6f6f6;
		border-top: 1px solid #dbdbdb;
		background-image: none;
		.page-title-inner {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			text-align: left;
		}
		.page-title {
			margin: 8px 0;
			font-size: 19px;
			color: #282828;
			font-weight: 500;
			flex-grow: 1;
		}
		.cms-breadcrumb {
			margin: 8px 0;
			li a {
				color: #9b9b9b;
				&:hover {
					color: $primary_color;
					&:after {
						color: #9b9b9b;
					}
				}
			}
		}
	}
}
.single-post, .single-event {
	#pagetitle {
		padding-top: 351px;
		padding-bottom: 87px;
		.page-title {
			margin-bottom: 0;
		}
	}
}