#pagetitle{
	height: 400px;
	background-color: var(--ptitle-bg-color);
	background-image: var(--ptitle-bg-img);
    background-size: cover;
    background-position: center center;
    color: var(--ptitle-color);
    .container{
    	z-index: 1;
    }
    .page-title{
    	color: var(--ptitle-color);
    	margin-bottom: 24px;
    }
    a{
    	color: var(--ptitle-color);
    }
}
.cms-page-title-inner{
	padding-bottom: 40px;
}
.cms-page-title-overlay{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: var(--ptitle-overlay-color);
}

.cms-breadcrumb{
	list-style: none;
	margin: 0 -3px;
	li{
		padding: 0 3px;
	    color: #FFFFFF;
	    position: relative;
	    display: inline-block;
	    font-size: 14px;
	    font-weight: 600;
	    &:after{
		    margin-left: 7px;
		    font-size: 11px;
		    @include font-awesome("\f101");
	    }
	    &:last-child:after{
	    	display: none;
	    }
	}
}